# 全てのファイルを無視する
/*
/.**

# 必要なファイルだけホワイトリスト形式で追記
!/.Brewfile
!/.gitconfig
!/.vimrc
!/.Xmodmap
!/.zshrc
!/.zshrc_Darwin.zsh
!/.zshrc_Linux.zsh
!/plugins.toml

!/bin/
!/.gitignore
!/docker-compose.yml
!/Dockerfile
!/Makefile
!/README.md